export EDITOR="nvim"

# Add homebrew to path
eval "$(/opt/homebrew/bin/brew shellenv)"

# pipx path update
export PATH="$PATH:{{ .home }}/.local/bin"

# bun path update
export PATH="$PATH:{{ .home }}/.bun/bin"
