[user]
	email = alew@magnite.com
	name = Allen Lew
[help]
	autocorrect = 1
[pull]
	rebase = false
[init]
	templateDir = ~/.git-template
[push]
	default = current

[core]
    pager = delta

[interactive]
    diffFilter = delta --diff-so-fancy

[delta]
    features = side-by-side line-numbers decorations
    navigate = true    # use n and N to move between diff sections
    syntax-theme = "Monokai Extended Origin"
    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
