export EDITOR="nvim"

# Add homebrew to path
eval "$({{.brewpath}} shellenv)"

# pipx path update
export PATH="$PATH:{{ .home }}/.local/bin"

# bun path update
export PATH="$PATH:{{ .home }}/.bun/bin"
