# Load the oh-my-zsh library
ohmyzsh/ohmyzsh path:lib

# Bundles from the default repo (robbyrussell's oh-my-zsh)
ohmyzsh/ohmyzsh path:plugins/git-prompt

# Zsh Autosuggestions
zsh-users/zsh-autosuggestions

# Syntax highlighting bundle.
zsh-users/zsh-syntax-highlighting

# Install powerlevel10k theme
romkatv/powerlevel10k

# Install evalcache
mroth/evalcache
{{ if eq .chezmoi.hostname "alew-mbp" }}
# Install git jira semantic commits
https://github.rp-core.com/alew/git-jira-semantic-commits.git branch:main
{{ end }}
