-- Install ai coding related plugins

-- Copilot plugin
return {
	"zbirenbaum/copilot.lua",
	enabled = enable_ai,
	cmd = "Copilot",
	build = ":Copilot auth",
	event = "InsertEnter",
	config = function()
		require("copilot").setup({
			panel = {
				enabled = false,
			},
			suggestion = {
				enabled = true,
				auto_trigger = true,
				keymap = {
					accept = "<C-j>",
				},
			},
			filetypes = {
				["*"] = true,
			},
      copilot_model = "gpt-4o-copilot",
		})
	end,
}
