{{ if eq .chezmoi.username "alew" -}}
  email = "alew@magnite.com"
{{else -}}
  email = "enlewof@gmail.com"
{{end -}}
{{ if eq .chezmoi.arch "amd64" -}}
  brewpath = "/usr/local/bin/brew"
{{else -}}
  brewpath = "/opt/homebrew/bin/brew"
{{end -}}
[data]
  home = "/Users/{{ .chezmoi.username }}"
  email = "{{ .email }}"

