-- Keymaps

{{ if eq .chezmoi.hostname "alew-mbp" }}
-- Copilot related keymaps (changes key from tab to CTRL-J)
vim.keymap.set('i', '<C-J>', 'copilot#Accept("\\<CR>")', {
  expr = true,
    replace_keycodes = false
})
vim.g.copilot_no_tab_map = true
{{ end }}
